<a href="https://colab.research.google.com/github/Padmasreelagudu/Python-Codes/blob/main/padma_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("first day")

first day

In [ ]:
#this is my first program
print("padma")

padma

In [ ]:
a=2
b=3
addition=a+b
print(addition)

5

In [ ]:
#float variable
a=2,3
print(a)

(2, 3)

In [ ]:
print("padma")

padma

In [ ]:
#take 3 integers inputs from the user and display the numbers
print("enter first value")
x=input()
print("enter second value")
y=input()
print("enter third value")
z=input()
print(x,y,z)

enter first value
2
enter second value
3
enter third value
4
2 3 4

In [ ]:
#take 3 strings input from the user and display them together
print("enter 3 strings input from the user")
a=input()
b=input()
c=input()
print(a+""+b+""+c)

enter 3 strings input from the user
padma
devi
srejaya
padmadevisrejaya

In [ ]:
#data types in python
#integer(int)
#float(float)
#double(double)
#string(string)
#character(char)
#boolean

In [ ]:
#write a code to print 1 to 10 in python
for i in range(1,11):
   print(i)