<a href="https://colab.research.google.com/github/Padmasreelagudu/Python-Codes/blob/main/pythoncodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the Sum of First N Natural Numbers

In [ ]:
def getSum(num):
  if num==1:
    return 1

  return num+getSum(num-1)
num=5
print(getSum(num))

15

sum of N natural numbers

In [ ]:
def recursum(num):
  if num==0:
    return num
  return num+recursum(num-1)
num,sum=6,0
print(recursum(num))

21

Sum of Numbers in a given Range

In [ ]:
num1, num2 = 3,6
sum=0
for i in range(num1, num2):
  sum+=i
print(sum)

12

In [ ]:
def recursum(num):
  if num1>num2:
    return sum
  return num1 + recursum(sum,num1+1,num2)

Greatest of Two Numbers

In [ ]:
num1,num2 = 20,30
if num1>num2:
  print(num1)
else:
  print(num2)

30

In [ ]:
num1,num2=20, 30
print(max(num1,num2))

30

Greatest of Three Numbers

In [ ]:
num1,num2,num3 = 10,20,30
max = 0
if num1>=num2 and num1>=num3:
  print(num1)
elif num2>=num1 and num2>=num3:
  print(num2)
else:
  print(num3)

30

In [ ]:
num1,num2,num3=10,30,20
max = 0
if num1>=num2:
  if num1>=num3:
    print(num1)
elif num2>=num1:
  if num2>=num3:
    print(num2)
else:
  print(num3)

30

Leap year or not leap year

In [ ]:
year = 2000
if (year%40==0 and year%100!=0) or (year%400==0):
  print("leap year")
else:
  print("not leap year")

Prime Numbers In a Given Range

In [ ]:
n = int(input())
if(n>1):
  for i in range(2, int(n**0.5)+1):
    if n%i==0:
      print(n,"not prime")
      break
    else:
      print(n,"not prime")
      break

67
67 not prime

Prime number

In [ ]:
num = int(input())
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
    break
if flag==1:
  print("Not Prime")
else:
  print("Prime")

Sum of Digits of a Number

In [ ]:
num = input("Enter a number:")
sum = 0
for i in num:
  sum = sum+int(i)
print(sum)

Enter a number:123456
21

Reverse a Number

In [ ]:
num = 1234
print(str(num)[::-1])

4321

In [ ]:
num = 1234
temp = num
reverse = 0
while num>0:
  reminder = num%10
  reverse = (reverse*10)+remainder
  num = num//10
print(reverse)

Palindrome Program

In [ ]:
def is_palindrome(n):
  return str(n) == str(n)[::-1]
num = int(input("Enter a number:"))
if is_palindrome(num):
  print(f"{num} is a palindrome")
else:
  print(f"{num} is not a palindrome")

Enter a number:1221
1221 is a palindrome

Armstrong number

In [ ]:
n = int(input())
sum = 0
temp = n
while temp>0:
  r=temp%10
  sum+=r**3
  temp//=10
if(n==sum):
  print("armstrong")
else:
  print("not armstrong")

371
armstrong

Fibonacci series

In [ ]:
fib = 10
n1,n2 = 0,1
for i in range(fib):
  n1,n2 = n2,n2+n1
  print(n1)

1
1
2
3
5
8
13
21
34
55

In [ ]:
fib = 10
a,b = 0,1
count = 0
while(count<fib):
  print(a,end=" ")
  a,b=b,a+b
  count+=1

0 1 1 2 3 5 8 13 21 34

Factorial Number

In [ ]:
import math
num = int(input("Enter a number:"))
print(f"Factorial of {num} is: {math.factorial(num)}")

Enter a number:5
Factorial of 5 is: 120

In [ ]:
def factorial(n):
  fact = 1
  for i in range(1,n+1):
    fact*=i
  return fact
num = int(input("Enter a number:"))
print(f"Factorial of {num} is: {factorial(num)}")

Enter a number:6
Factorial of 6 is: 720

In [ ]:
def factorial(n):
  return 1 if n==0 else n*factorial(n-1)
num = int(input("Enter a number:"))
print(f"Factorial of {num} is: {factorial(num)}")

Enter a number:7
Factorial of 7 is: 5040

find Power of a number

In [ ]:
num, power = 3,2
print(pow(num,power))

9

In [ ]:
num,power = 3,2
output = 1
for i in range(power):
  output*=num
print(output)

9

In [ ]:
num, power = 3,2
print(num**power)

9

In [ ]:
base = int(input("Enter a number:"))
expo = int(input("Enter a number:"))
value = pow(base,expo)
print(value)

Enter a number:7
Enter a number:8
5764801

 find factors of a number

In [ ]:
def find_factors(n):
  factors = [i for i in range(1, n+1) if n%i==0]
  return find_factors
num = int(input("Enter a number:"))
print(find_factors(num))

Enter a number:12
<function find_factors at 0x7ef2054e0220>

In [ ]:
def find_factors(n):
  factors=[]
  for i in range(1,n+1):
    if(n%i==0):
      factors.append(i)
  return factors
n = int(input())
print(find_factors(n))

20
[1, 2, 4, 5, 10, 20]