<a href="https://colab.research.google.com/github/Padmasreelagudu/Python-Codes/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statements

The If statement is used to test a specific condition.If the condition is true ,a block of code will be executed

#syntax:
if condition:
   statment

In [ ]:
a=22
b=42
if b>a:
  print("b is greater than a")

b is greater than a

#Else statements:
The if-else statement provides an else block combined with the if statement which is executed in the false case of the condition.

#Syntax:
if condition :       
  //statement              
  else:      
  // statement

In [ ]:
a=100
b=20
if a>b:
  print("a is greater than b")
else:
  print("b is greater than a")

a is greater than b

#Elif statemnt:
The previous condition were not true ,then try this condition

#syntax:
if expression 1:     
//block of statements    
elif expression 2:      
//block of statements     
elif expression 3:   
 // block of statement      
 else:     
 // block of statement

In [ ]:
a=22
b=22
if a>b:
  print("a is greater than b")
elif a==b:
  print("a is equal than b")
else:
  print("b is greater than is to a")

a is equal than b

#Nested  if statement:
  If staement inside if statement,this is called neested if statement.

#syntax:     
  if condition 1:     
  //block of statement     
  if condition 2:    
  // block of statement    
  else:      
  // block of statement

In [ ]:
x=41

if x> 10:
  print("Above ten,")
if x> 20:
  print("and also above 20!")
else:
  print("but not above 20.")

Above ten,
and also above 20!

#The pass statement:
If statement cannot be empty,but if you some reson have an if statement with no content,put in the pass satement to avoiud getting an error.

In [ ]:
a=33
b=200

if b > a:
  pass

#Ternary operators or conditional statement

#Short hand if:
If you have only one statement to execute,you put it on the same line as the if statement.

#syntax
Condition? value_if_true:value_if_false

In [ ]:
#only one line if stsatement
if a>b:print("a is greater than b")

a is greater than b

#Short Hand if-else:
If have only one statement to execute,one for if, and one for else you can put on the same line.

#Syntax:
vale_if_true if condition else value_if_false

In [ ]:
#only one if else statement:
a=3
b=9
print("A") if a>b else print("b")

b

#And
The and keyword is alogical operator,and is used to combine conditional statements.

#syntax:
 if condition 1 and condition2:       
 //a code to execute if condition1 and condition 2

In [ ]:
a=200
b=33
c=500
if a>b and c>a:
  print("both conditions are true")

both conditions are true

#Or
The or keyword is a logical operator, and is used to combine conditional statements.


#Syntax:
condition 1 or condition 2

In [ ]:
a=200
b=33
c=500
if a>b or a>c:
  print ("At aleast one of the condition is True")

At aleast one of the condition is True

#Not
The not keyword is a logical operator ,and is used to reverse the result of the conditional statement.

In [ ]:
a=33
b=200
if not a>b:
  print("a is not greater than b")

a is not greater than b

#exampes of conditional statements:

1. Write a program that checks  if a given number is even or odd using and if-else statements.

In [ ]:
num = int(input("Enter a number:"))
if num%2 == 0:
        print(num,"is even")
else:
        print(num,"is odd")

Enter a number:5
5 is odd

2.Write a program that checks if a given number is leap year or not using and if-else statements.

In [ ]:
year=int(input("Enter your age:"))
if(year%4==0 and year%100!=0)or (year %400==0):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter your age:19
19 is not a leap year

#Control statements

#For loop:
A for loop is used for iterating over a sequence (that is either a blist,a tuple, a dictionary,a set or a string)       
with the for loop we can execute a set of statements,once for each item in a list,tuple,set,etc...

#syntax:
for value in sequence:  
   {code block}

In [ ]:
Name=["padhu","mouni","devi"]
for i in Name:
  print(i)

devi
padhu
mouni

#2.The break statement:
With the break statement we can stop the loop before it has looped through all the items

In [ ]:
fruits=["apple","banana","grapes"]
for i in fruits:
  print(i)
  if i=="banana":
    break

apple
banana

#3.Looping through a string:
Even string has a iterable objects,they contain sequence of characters

In [ ]:
for i in "apple":
  print(i)

a
p
p
l
e

#4.continue loop:
With the continue statement we can stop the current iteration of the loop, and continue with the next.

In [ ]:
fruits=["apple","banana","cherry"]
for i in fruits:
  print(i)
  if i=="banana":
    continue
    print(i)

apple
banana
cherry

#while loop
 with the while loop we can execute a set of statements as long as a condition is true.


 #syntax:
 while <condition>    
 {code block}

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

#2.Break statement
with the break statement we can stop the loop even if the while condition is true

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#3.The continue Statement     

With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3